.event-overview {
  margin: 10px 0;
  cursor: pointer;

  .player-count {
    display: flex;
    align-items: center;

    ion-icon {
      margin-right: 5px;
    }
  }

  .private {
    color: teal;
  }
}