<app-bracket-status
  [event]="event"
  [players]="players"
  [status]="status"
  [disqualified]="disqualified">
</app-bracket-status>

<ion-segment [(ngModel)]="selectedTab" *ngIf="tabs.length > 1">
  <ion-segment-button [value]="tab" *ngFor="let tab of tabs">
    <ion-label>{{ tab }}</ion-label>
  </ion-segment-button>
</ion-segment>

<app-bracket-registration
  [event]="event"
  [players]="players"
  [status]="status"
  [selectedPlayer]="selectedPlayer"
  [disqualified]="disqualified"
  (playerClicked)="playerClicked.emit($event)"
  *ngIf="showRegistration">
</app-bracket-registration>

<ng-container *ngIf="showBracket">
  <ng-container *ngIf="!eventStarted">
    <ion-button class="generals-button" (click)="createBracket()">New Bracket</ion-button>
    <ion-button class="generals-button" (click)="checkInAll()">Check in all</ion-button>
    <ion-button class="generals-button" (click)="startEvent()" [disabled]="!bracket">Start Event</ion-button>
  </ng-container>
  <ng-container *ngIf="eventStarted">
    <ion-button class="generals-button" (click)="crawl()">Simulate Crawl</ion-button>
  </ng-container>
  <app-double-elimination-bracket
    [bracket]="bracket">
  </app-double-elimination-bracket>
</ng-container>

<ng-container *ngIf="showStream">
  <h1>Wuped will be here! 😄</h1>
</ng-container>