<app-bracket-status
  [event]="event"
  [players]="players"
  [status]="status"
  [disqualified]="disqualified">
</app-bracket-status>

<ion-segment [(ngModel)]="selectedTab" *ngIf="tabs.length > 1">
  <ion-segment-button [value]="tab" *ngFor="let tab of tabs">
    <ion-label>{{ tab }}</ion-label>
  </ion-segment-button>
</ion-segment>

<app-bracket-registration
  [event]="event"
  [players]="players"
  [status]="status"
  [selectedPlayer]="selectedPlayer"
  [disqualified]="disqualified"
  (playerClicked)="playerClicked.emit($event)"
  *ngIf="showRegistration; else showBracket">
</app-bracket-registration>

<ng-template #showBracket>
  <ion-button class="generals-button" (click)="createBracket()">Shuffle Bracket</ion-button>
  <app-double-elimination-bracket
    [bracket]="bracket">
  </app-double-elimination-bracket>
</ng-template>