<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="isAdmin">
        <ion-button tooltip="Delete Event" (click)="deleteEvent()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button tooltip="Clone Event" (click)="cloneEvent()">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-button>
      </ng-container>
      <app-login
        [eventId]="eventId"
        [status]="status"
        [disqualified]="disqualified">
      </app-login>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container" [class.bracket]="showWide" *ngIf="event; else loading">
    <ng-container *ngIf="event.exists; else empty">
      <div class="left-panel">
        <div class="panel-container">
          <app-event-summary
            [event]="event"
            [status]="status">
          </app-event-summary>
          <app-chat
            [event]="event"
            [disqualified]="disqualified"
            (nameClicked)="selectPlayer($event)">
          </app-chat>
        </div>
      </div>

      <div class="main-panel">
        <ng-container *ngIf="players$ | async as players">
          <app-event-trophies
            [event]="event"
            [players]="players"
            [status]="status"
            (playerClicked)="selectPlayer($event)">
          </app-event-trophies>
          <app-arena-leaderboard
            [event]="event"
            [players]="players"
            [status]="status"
            [selectedPlayer]="selectedPlayer"
            [disqualified]="disqualified"
            (playerClicked)="selectPlayer($event)"
            *ngIf="isArena">
          </app-arena-leaderboard>
          <app-bracket-event
            [event]="event"
            [players]="players"
            [status]="status"
            [selectedPlayer]="selectedPlayer"
            [disqualified]="disqualified"
            (playerClicked)="selectPlayer($event)"
            *ngIf="isBracket">
          </app-bracket-event>
          <app-dynamic-dyp-event
            [event]="event"
            [players]="players"
            [status]="status"
            [selectedPlayer]="selectedPlayer"
            [disqualified]="disqualified"
            (playerClicked)="selectPlayer($event)"
            *ngIf="isDynamicDYP">
          </app-dynamic-dyp-event>
        </ng-container>
      </div>

      <div class="right-panel" [class.show]="showRightPanel">
        <div class="panel-container">
          <app-event-player-summary
            [player]="selectedPlayer"
            [event]="event"
            [status]="status"
            [showRank]="isArena"
            (close)="selectPlayer()"
            *ngIf="selectedPlayer">
          </app-event-player-summary>
          <app-game-list
            [class.hidden]="selectedPlayer"
            [event]="event"
            (nameClicked)="selectPlayer($event)"
            *ngIf="isArena">
          </app-game-list>
          <app-dynamic-dyp-leaderboard
            [class.hidden]="selectedPlayer"
            [event]="event"
            [players]="players"
            [status]="status"
            (playerClicked)="selectPlayer($event)"
            *ngIf="isDynamicDYP">
          </app-dynamic-dyp-leaderboard>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>

<ng-template #empty>
  <div class="empty-container">
    <h1>This event doesn't seem to exist 🤔</h1>
    <ion-button class="generals-button" (click)="goHome()">Go Home</ion-button>
  </div>
</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>