<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="fixIt()">
        Fix it
      </ion-button> -->
    </ion-buttons>

    <!-- determine if there are children events -->
    <ng-container *ngIf="isMultiStage; else title">
      <ng-container *ngIf="children$ | async as children">
        <ng-container *ngIf="children?.length > 0">
          <ion-toolbar>
            <ion-segment>
              <ion-segment-button [class.segment-button-checked]="tab.id === event.id" [value]="tab" *ngFor="let tab of children" (click)="setEvent(tab)">
                <ion-label>{{ tab.name }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ng-container>
      </ng-container>
    </ng-container>

    <ion-buttons slot="end">
      <ng-container *ngIf="isAdmin && event">
        <ion-button tooltip="Delete Event" (click)="deleteEvent()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button tooltip="Clone Event" (click)="cloneEvent()">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-button>
        <ion-button tooltip="Copy Standings" (click)="copyStandings()" *ngIf="isOver">
          <ion-icon name="trophy-outline"></ion-icon>
        </ion-button>
        <ion-button tooltip="Promote Event" (click)="promoteEvent()" *ngIf="!isOver">
          <ion-icon name="megaphone-outline"></ion-icon>
        </ion-button>
      </ng-container>
      <app-login
        [eventId]="eventId"
        [status]="status"
        [server]="event?.server"
        [disqualified]="disqualified">
      </app-login>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container" [class.bracket]="showWide" *ngIf="event; else loading">
    <ng-container *ngIf="event.exists && !blocked; else empty">
      <div class="left-panel">
        <div class="panel-container">
          <app-event-summary
            [event]="event"
            [status]="status">
          </app-event-summary>
          <app-chat
            [event]="event"
            [parentEvent]="parent"
            [inEvent]="inEvent"
            [disqualified]="disqualified"
            (nameClicked)="selectPlayers($event)">
          </app-chat>
        </div>
      </div>

      <div class="main-panel">
        <ng-container *ngIf="players$ | async as players; else loading">
          <app-event-trophies
            [event]="event"
            [players]="players"
            [status]="status"
            (playersClicked)="selectPlayers($event)">
          </app-event-trophies>
          <app-arena-leaderboard
            [event]="event"
            [players]="players"
            [status]="status"
            [selectedPlayers]="selectedPlayers"
            [disqualified]="disqualified"
            (playersClicked)="selectPlayers($event)"
            *ngIf="isArena">
          </app-arena-leaderboard>
          <app-bracket-event
            [event]="event"
            [players]="players"
            [status]="status"
            [selectedPlayers]="selectedPlayers"
            [disqualified]="disqualified"
            (playersClicked)="selectPlayers($event)"
            *ngIf="isBracket">
          </app-bracket-event>
          <app-dynamic-dyp-event
            [event]="event"
            [players]="players"
            [status]="status"
            [selectedPlayers]="selectedPlayers"
            [disqualified]="disqualified"
            (playersClicked)="selectPlayers($event)"
            *ngIf="isDynamicDYP">
          </app-dynamic-dyp-event>
        </ng-container>
      </div>

      <div class="right-panel" [class.show]="showRightPanel">
        <div class="panel-container">
          <app-event-player-summary
            [players]="selectedPlayers"
            [event]="event"
            [status]="status"
            [showRank]="isArena"
            (close)="selectPlayers()"
            *ngIf="selectedPlayers">
          </app-event-player-summary>
          <app-game-list
            [class.hidden]="selectedPlayers?.length"
            [event]="event"
            (nameClicked)="selectPlayers($event)"
            *ngIf="isArena">
          </app-game-list>
          <app-dynamic-dyp-leaderboard
            [class.hidden]="selectedPlayers?.length"
            [event]="event"
            [players]="players"
            [status]="status"
            (playersClicked)="selectPlayers($event)"
            *ngIf="isDynamicDYP">
          </app-dynamic-dyp-leaderboard>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>

<ng-template #title>
  <ion-title>{{ event?.name }}</ion-title>
</ng-template>

<ng-template #empty>
  <div class="empty-container">
    <h1>This event doesn't seem to exist 🤔</h1>
    <ion-button class="generals-button" (click)="goHome()">Go Home</ion-button>
  </div>
</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>