<ion-card id="chat-box" #chatBox>
  <ion-card-content>
    <div class="messages" [style.height.px]="messagesHeight">
      <p *ngFor="let message of messages$ | async" [class.admin]="isAdmin(message.sender)" [style.color]="message.color">
        <app-crown tooltip="Event Organizer" [color]="message.color"></app-crown>
        <b [title]="message.timestamp | date:'M/d/yyyy h:mm a'" [style.color]="message.color" (click)="nameClicked.emit(message.sender)">
          {{ message.sender }}:
        </b>
        <span [innerHtml]="message.text | http"></span>
      </p>
    </div>
    <input
      [(ngModel)]="text"
      [placeholder]="placeholder"
      (keyup.enter)="submit()"
      [disabled]="disableChat"
      *ngIf="!disallowNewMessages"
    >
    <div 
      class="chat-closed" 
      *ngIf="disallowNewMessages"
    >
      Chat is now closed.
      <a class="discord-link" href="https://discord.com/invite/QP63V5Y" target="_blank">
        Join discord <ion-icon name="logo-discord"></ion-icon>
      </a>
    </div>
  </ion-card-content>
</ion-card>