<div class="event-queue space-between" [class.dq]="disqualified" [class.opponent]="readyStatus?.opponent" *ngIf="showStatusBar">
  <div class="message">
    {{ message }}
  </div>

  <ion-button class="generals-button" (click)="checkIn()" *ngIf="showCheckIn">
    Check In
  </ion-button>

  <ion-button class="generals-button" (click)="joinMatch()" *ngIf="showJoinMatch">
    Join Match
  </ion-button>

  <div class="starting-in" *ngIf="showTimer">
    <b>
      Check in opens
    </b>
    <app-timer [stopAt]="event.checkInTime"></app-timer>
  </div>
</div>