<div *ngIf="showRules; else empty">
  <h1>How does this work?</h1>
  <div class="space-after">Welcome! When the tournament starts, there will be no bracket. Instead, players will play as many games as they can in an attempt to score the most points in the set time limit.</div>
  <div>As soon as the tournament starts, jump in the queue to be sent to a lobby to start your next game. Once the game is over for you, come back to join the queue again.</div>

  <h1>How are scores calculated?</h1>
  <div class="space-after">You can score points in one of two ways:</div>
  <div>1) You get 1 point for each player that you outlive. The first person to die gets 0 points, then 1 for the next, 2 for the next, etc. The last player alive in an 8 player FFA will be awarded 7 points.</div>
  <div class="space-after">2) You get 1 point for every enemy general you capture.</div>
  <div class="space-after">For example, placing second in an FFA with 8 players after capturing 2 generals would award you with 8 points, 6 for outliving 6/8 players and 2 more for the captured generals.</div>
  <div>Scores are calculated automatically within 10 seconds after the replay becomes available.</div>

  <h1>How is the winner decided?</h1>
  <div>The player with the most points at the conclusion of the tournament's set time limit will be announced winner.</div>
  <!-- TODO: tie break -->

  <h1>How does the pairing work?</h1>
  <div>There is currently no matchmaking logic, so the first 8 people in the queue for an FFA tournament, for example, will be sent to the same lobby, the next 8 to a different lobby, and so on.</div>

  <h1>How does it end?</h1>
  <div class="space after">The tournament has a countdown clock. When it reaches zero, the rankings are frozen and the winner is announced.</div>
  <div>Any games still in progress will not be counted after the clock reaches zero.</div>

  <h1></h1>
</div>

<ng-template #empty>
  <div class="empty-container">
    <ion-button color="dark" fill="clear" size="small" (click)="toggleShowRules()">
      Show Rules
    </ion-button>
  </div>
</ng-template>