<div *ngIf="showRules; else empty">
  <h1>First, some ground rules:</h1>
  <div class="space-after"><span class="highlight">Do NOT cheat or seek an unfair advantage.</span> If you have to ask if something is cheating, it probably is. Players are meant to play individually, in only one game at a time. Play to win, but do it fairly.</div>
  <div class="space-after">If you are found to be cheating or skirting the rules to seek an advantage, you will be disqualified. Please report this behavior if you see it. This includes but is not limited to:</div>
  <div>1) Joining the queue while alive in another game</div>
  <div>2) As the host, changing game settings</div>
  <div>3) Using more than one account</div>
  <div>4) Teaming in an FFA event</div>

  <h1>How does this work?</h1>
  <div class="space-after">Now that that's out of the way, welcome! When the event starts, there will be no bracket. Instead, <span class="highlight">players will play as many games as they can in an attempt to score the most points in the set time limit.</span></div>
  <div class="space-after">As soon as the event starts, click the Join Queue button to be sent to a custom lobby with your opponents. <span class="highlight">Try to leave time enough for players with slower internet connections to arrive,</span> but you can start the game if it seems everyone is there.</div>
  <div>Once the game is over for you, click <span class="highlight">Join Event Queue to immediately jump into your next game.</span></div>

  <h1>How are scores calculated?</h1>
  <div class="space-after">You can score points in a few ways:</div>
  <div>1) You get <span class="highlight">1 point for each player that you outlive.</span> The first person to die gets 0 points, then 1 for the next, 2 for the next, etc. The last player alive in an 8 player FFA will be awarded 7 points.</div>
  <div [class.space-after]="!firstPlaceBonus">2) You get <span class="highlight">1 point for every enemy general you capture.</span></div>
  <div class="space-after" *ngIf="firstPlaceBonus">3) You get <span class="highlight">5 bonus points for finishing first.</span></div>
  <div class="space-after">For example, placing second in an FFA with 8 players after capturing 2 generals would award you with 8 points, 6 for outliving 6/8 players and 2 more for the captured generals.</div>
  <div class="space-after" *ngIf="hasStreaks">When you win three times in a row, you are on 🔥 and <span class="streak highlight">your points are doubled so long as you can hold your streak!</span></div>
  <div>Scores are calculated automatically within 10 seconds after the replay becomes available.</div>

  <h1>How is the winner decided?</h1>
  <div class="space-after">The player with the most points at the conclusion of the event's set time limit will be announced winner.</div>
  <div>If two players have the same number of points, we will break the tiebased on win rate, total games, quickest win, etc</div>

  <h1>How does the pairing work?</h1>
  <div>There is currently no matchmaking logic, so the first 8 people in the queue for an FFA event, for example, will be sent to the same lobby, the next 8 to a different lobby, and so on.</div>

  <h1>How does it end?</h1>
  <div class="space after">The event has a countdown clock. When it reaches zero, the rankings are frozen and the winner is announced.</div>
  <div class="highlight">Any games still in progress will not be counted after the clock reaches zero.</div>

  <h1></h1>
</div>

<ng-template #empty>
  <div class="empty-container">
    <ion-button color="dark" fill="clear" size="small" (click)="toggleShowRules()">
      Show Rules
    </ion-button>
  </div>
</ng-template>