<ion-card class="event-list-item" (click)="navToEvent()">
  <ion-card-header>
    <ion-card-title class="space-between">
      <span>
        {{ event.name }} <b class="private" *ngIf="private">(Private)</b>
      </span>
      <span class="player-count">
        <ion-icon name="people"></ion-icon>
        {{ event.playerCount }}
      </span>
    </ion-card-title>
    <ion-card-subtitle class="winners" *ngIf="event.winners as winners">
      <ion-icon name="trophy"></ion-icon>
      <span class="winner" *ngFor="let winner of winners; index as i" (click)="goToProfile(winner, $event)">
        <b>{{ winner }}</b>
        <span *ngIf="winners.length > i + 1">and</span>
      </span>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>
      <span *ngIf="finished">Started at</span>
      {{ event.startTime | date:'M/d/yyyy'}} at {{ event.startTime | date:'h:mm a'}}
    </p>
    <p *ngIf="finished">
      <span>Finished at</span>
      {{ event.endTime | date:'M/d/yyyy'}} at {{ event.endTime | date:'h:mm a'}}
    </p>
    <p>
      {{ event.type }} {{ event.format }}
      <span *ngIf="!finished && duration">for {{ duration }}</span>
    </p>
  </ion-card-content>
</ion-card>