<div class="bracket-container">
  <ng-container *ngIf="bracket?.winners as winners">
    <app-bracket
      [event]="event"
      [bracket]="winners"
      [hideCompletedRounds]="hideCompletedRounds"
      [minRoundsToShow]="minRoundsToShow">
    </app-bracket>
  </ng-container>

  <ng-container *ngIf="bracket?.losers as losers">
    <app-bracket
      [event]="event"
      [bracket]="losers"
      [hideCompletedRounds]="hideCompletedRounds"
      [minRoundsToShow]="minRoundsToShow">
    </app-bracket>
  </ng-container>
</div>

<div class="actions" (click)="toggleHideCompleted()" *ngIf="showToggle">
  {{ toggleText }}
</div>