.bracket-container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.actions {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #ddd;
  color: teal;
  padding: 4px 12px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 99;
}