<ion-header>
  <ion-toolbar>
    <ion-title (click)="generals.goToProfile(name)">{{ name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="generals-button color-secondary" (click)="getGames()" [disabled]="!loaded" *ngIf="profile?.exists">
        Update
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="profile?.exists; else loading">
    <div class="profile-container" *ngIf="loaded; else notExist">
      <ion-card>
        <ion-card-content>
          <app-chart-win-rate
            title="FFA Percentile vs Time"
            [data]="stats?.ffaChartData"
            yAxis="percentile"
            xAxis="started"
            xIsDate="true">
          </app-chart-win-rate>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <app-chart-win-rate
            title="1v1 Win Rate vs Time"
            [data]="stats?.v1ChartData"
            yAxis="winner"
            xAxis="started"
            xIsDate="true">
          </app-chart-win-rate>
        </ion-card-content>
      </ion-card>
      <ion-card class="stats-card">
        <ion-card-header>
          <ion-card-title>
            Stats
          </ion-card-title>
        </ion-card-header>
        <ng-container *ngIf="stats; else loadingItem">
          <ion-item>
            <ion-label>Total Replays</ion-label>
            <ion-text slot="end">{{ profile.totalGames }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>FFA Games Played</ion-label>
            <ion-text slot="end">{{ stats.ffaCount }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>FFA Percentile</ion-label>
            <ion-text slot="end">{{ stats.ffaPercentile | percent:'1.2' }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>FFA Win Rate</ion-label>
            <ion-text slot="end">{{ stats.ffaWinRate | percent:'1.2' }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>1v1 Games Played</ion-label>
            <ion-text slot="end">{{ stats.v1Count }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>1v1 Win Rate</ion-label>
            <ion-text slot="end">{{ stats.v1WinRate | percent:'1.2' }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Previous Names</ion-label>
            <ion-text slot="end">{{ stats.previousNames.join(', ') }}</ion-text>
            <ion-icon slot="end" name="ban" *ngIf="!stats.previousNames?.length"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-card>
    </div>
  </ng-container>
</ion-content>

<ng-template #loadingItem>
  <ion-item>
    <ion-label>
      <h2>Loading stats...</h2>
    </ion-label>
  </ion-item>
</ng-template>

<ng-template #notExist>
  <div class="spinner-container">
    <h1>Loading generals.io profile...</h1>
    <h3 *ngIf="profile.totalGames">Saving {{ profile.totalGames }} replays...</h3>
  </div>
</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>