<div 
  *ngIf="canJoinQueue"
  class="event-queue space-between" 
  [class.joined]="inQueue" 
  [class.dq]="disqualified"
>
  <div class="message">
    {{ message }}
  </div>
  <ion-button
    *ngIf="showQueueButton"
    class="generals-button"
    [disabled]="disqualified"
    (click)="toggleQueue()"
  >
    {{ inQueue ? 'Leave' : 'Join' }} Queue
  </ion-button>

  <div
    *ngIf="showTimer"
    class="starting-in"
  >
    <b>Starting in</b>
    <app-timer [stopAt]="event.startTime"></app-timer>
  </div>
</div>