table {
  width: 100%;

  .table-header {
    background: teal;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;

      .page-control {
        display: flex;
        align-items: center;

        ion-button {
          margin: 0 10px;
          width: 40px;
        }
      }
    }
  }

  tr {
    background: #333;

    &:nth-child(even) {
      background: #555;
    }

    td {
      padding: 10px;
    }

    .you-marker {
      width: 8px;
      padding: 0;
    }

    .rank {
      width: 20px;
    }

    .record {
      text-align: right;

      .game {
        display: inline-block;
        background-color: rgba(0, 0, 0, .3);
        text-align: center;
        width: 20px;
        margin: 0 3px;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    .points {
      width: 120px;
      text-align: right;
      font-weight: bold;
      font-size: 16px;
      padding-right: 16px;
    }

    &.highlight .you-marker {
      background: purple;
    }
  }
}