<app-tournament-queue
  [tournament]="tournament"
  [inTournament]="inTournament"
  [status]="status"
  *ngIf="showQueue">
</app-tournament-queue>

<table>
  <tr class="table-header">
    <th colspan="5">
      <div class="header-container">

        <!-- left side -->
        <div class="page-control">
          <ion-button size="small" fill="clear" color="dark" [class.tracking]="tracking" (click)="toggleTracking()" [tooltip]="trackingTooltip" *ngIf="showTracker">
            <ion-icon slot="icon-only" name="locate"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" [disabled]="!canPrev" (click)="prev()">
            <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
          </ion-button>
          <div class="control-text">{{ pageControlText }}</div>
          <ion-button size="small" fill="clear" color="dark" [disabled]="!canNext" (click)="next()">
            <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
          </ion-button>
        </div>

        <!-- right side -->
        <ng-container *ngIf="players">
          <ion-button size="small" fill="clear" color="dark" (click)="join()" *ngIf="canJoin" [disabled]="recentlyJoined">
            <ion-icon name="play"></ion-icon>
            Join
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="leave()" *ngIf="canLeave" [disabled]="recentlyJoined">
            <ion-icon name="exit"></ion-icon>
            Withdraw
          </ion-button>
          <app-timer [stopAt]="tournament.endTime" *ngIf="showTimer"></app-timer>
        </ng-container>

      </div>
    </th>
  </tr>
  <ng-container *ngFor="let player of visible; let i = index">
    <tr [class.even]="i % 2 === 0">
      <td class="you-marker" [class.highlight]="player.name === generals.name"></td>
      <td class="rank">{{ player.rank }}</td>
      <td class="name" (click)="generals.goToProfile(player.name, tournament?.server)">
        {{ player.name }}
      </td>
      <td class="record">
        <div class="record-container">
          <span
            class="game"
            [class.winner]="game.rank === 1"
            [class.streak]="game.streak"
            *ngFor="let game of player.record"
            (click)="generals.goToReplay(game.replayId, tournament?.server)"
            tooltip="Finished #{{ game.rank }} with {{ game.kills }} {{ game.kills === 1 ? 'kill' : 'kills' }}"
          >
            {{ game.points }}
          </span>
        </div>
      </td>
      <td class="points">
        <span *ngIf="showStreaks && player.currentStreak > 2">🔥</span>
        {{ player.points }}
      </td>
    </tr>
    <tr [class.even]="i % 2 === 0" class="small-devices" *ngIf="player.record.length">
      <td class="you-marker" [class.highlight]="player.name === generals.name"></td>
      <td class="record" colspan="5">
        <div class="record-container">
          <span
            class="game"
            [class.winner]="game.rank === 1"
            [class.streak]="game.streak"
            *ngFor="let game of player.record"
            (click)="generals.goToReplay(game.replayId, tournament?.server)"
            tooltip="Finished #{{ game.rank }} with {{ game.kills }} {{ game.kills === 1 ? 'kill' : 'kills' }}"
          >
            {{ game.points }}
          </span>
        </div>
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="!visible?.length">
    <td colspan="5">No players to show</td>
  </tr>
</table>