<app-tournament-queue
  [tournament]="tournament"
  [notJoined]="canJoin"
  *ngIf="!tournament?.endTime">
</app-tournament-queue>

<table>
  <tr class="table-header">
    <th colspan="5">
      <div class="header-container">
        <div class="page-control">
          <ion-button size="small" fill="clear" color="dark" [disabled]="!canPrev" (click)="prev()">
            <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
          </ion-button>
          <div>{{ pageControlText }}</div>
          <ion-button size="small" fill="clear" color="dark" [disabled]="!canNext" (click)="next()">
            <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
          </ion-button>
        </div>
        <ng-container *ngIf="players">
          <ion-button size="small" fill="clear" color="dark" (click)="join()" *ngIf="canJoin">
            <ion-icon name="play"></ion-icon>
            Join
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="leave()" *ngIf="canLeave">
            <ion-icon name="exit"></ion-icon>
            Leave
          </ion-button>
        </ng-container>
      </div>
    </th>
  </tr>
  <ng-container *ngFor="let player of visible; let i = index">
    <tr [class.even]="i % 2 === 0">
      <td class="you-marker" [class.highlight]="player.name === generals.name"></td>
      <td class="rank">{{ player.rank }}</td>
      <td class="name">
        <a (click)="generals.goToProfile(player.name, tournament?.server)">{{ player.name }}</a>
      </td>
      <td class="record">
        <span
          class="game"
          *ngFor="let game of player.record"
          (click)="generals.goToReplay(game.replayId, tournament?.server)"
        >
          {{ game.points }}
        </span>
      </td>
      <td class="points">
        <span *ngIf="player.currentStreak > 2">🔥</span>
        {{ player.points }}
      </td>
    </tr>
    <tr [class.even]="i % 2 === 0" class="small-devices">
      <td class="you-marker" [class.highlight]="player.name === generals.name"></td>
      <td class="record" colspan="5">
        <span
        class="game"
        *ngFor="let game of player.record"
        (click)="generals.goToReplay(game.replayId, tournament?.server)"
      >
        {{ game.points }}
      </span>
      </td>
    </tr>
  </ng-container>
</table>