table {
  width: 100%;

  .table-header {
    background: teal;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;

      .page-control {
        display: flex;
        align-items: center;

        ion-button {
          margin: 0 10px;
          width: 40px;
        }
      }
    }
  }

  tr {
    background: #333;

    &.even {
      background: #444;
    }

    td {
      padding: 8px 10px;
    }

    .you-marker {
      width: 8px;
      padding: 0;

      &.highlight {
        background: purple;
      }
    }

    .rank {
      width: 20px;
    }

    .name:hover {
      cursor: pointer;
      color: teal;
    }

    .record {
      text-align: right;

      .game {
        display: inline-block;
        background-color: rgba(0, 0, 0, .3);
        text-align: center;
        width: 20px;
        margin: 2px 3px 2px 0;
        border-radius: 4px;
        border: 1px solid transparent;
        cursor: pointer;

        &.winner {
          border-color: var(--ion-color-warning);
        }
      }
    }

    .points {
      width: 15%;
      text-align: right;
      font-weight: bold;
      font-size: 16px;
      padding-right: 16px;
    }

    &.small-devices {
      display: none;
    }
  }
}

@media(max-width: 500px) {
  table {
    tr:not(.small-devices) .record .game {
      display: none;
    }
    tr.small-devices {
      display: table-row;
    }
  }
}