ion-segment-button {
  color: teal;
  --color-checked: teal;
}
.update-match-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .late-bye-opponent {
    margin-bottom: 24px;

    p {
      margin: 0 16px 12px;
      font-size: 14px;
      line-height: 1.4;
      color: var(--ion-color-medium);
    }
  }

  .teams .name {
    margin-top: 20px;
    text-align: center;
  }

  ion-button {
    margin-top: 20px;
  }
}