.dynamic-dyp-container {
  ion-segment {
    margin-bottom: 20px;

    ion-segment-button {
      --color: #aaa;
      --color-checked: teal;

      &.segment-button-checked {
        font-weight: bold;
      }
    }
  }

  input {
    color: #000;
  }
}