<ng-container *ngIf="showRegistration">
  <app-bracket-status
    [event]="event"
    [players]="players"
    [status]="status"
    [disqualified]="disqualified"
    *ngIf="!finished">
  </app-bracket-status>

  <app-bracket-registration
    [event]="event"
    [players]="players"
    [status]="status"
    [selectedPlayer]="selectedPlayer"
    [disqualified]="disqualified"
    [registrationOpen]="registrationOpen"
    (playerClicked)="playerClicked.emit($event)">
  </app-bracket-registration>
</ng-container>