<table>
  <tr class="table-header">
    <th colspan="4">
      <div class="header-container">

        <!-- left side -->
        <div class="page-control">
          <div class="control-text">{{ pageControlText }}</div>
        </div>

        <!-- right side -->
        <ng-container *ngIf="players">
          <ion-button size="small" fill="clear" color="dark" (click)="join()" *ngIf="canJoin" [disabled]="recentlyJoined">
            <ion-icon name="play"></ion-icon>
            Join
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="leave()" *ngIf="canLeave" [disabled]="recentlyJoined">
            <ion-icon name="exit"></ion-icon>
            Withdraw
          </ion-button>
        </ng-container>

      </div>
    </th>
  </tr>
  <ng-container *ngFor="let player of players; let i = index">
    <tr [class.even]="i % 2 === 0">
      <td class="marker"
        [class.you]="player.name === generals.name"
        [class.selected]="player.name === selectedPlayer?.name">
      </td>
      <td class="rank">
        <span *ngIf="!player.dq">{{ player.rank }}</span>
        <ion-icon name="close" color="danger" tooltip="{{player.name}} has been disqualified" *ngIf="player.dq"></ion-icon>
      </td>
      <td class="name" (click)="playerClicked.emit(player)">
        {{ player.name }}
      </td>
      <td class="points">
        <div class="stars">
          <ion-icon name="star" color="warning"></ion-icon>
          <span *ngIf="player?.stats?.currentStars > -1; else spinner">
            {{ player.stats?.currentStars | number:'1.0-0' }}
          </span>
        </div>
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="!players?.length">
    <td colspan="4">No players to show</td>
  </tr>
</table>

<ng-template #spinner>
  <ion-spinner></ion-spinner>
</ng-template>