<div class="rounds-container" *ngIf="rounds?.length">
  <div class="round" [class.hide]="round.complete && hideCompletedRounds" *ngFor="let round of rounds">
    <h2>{{ round.name }}</h2>
    <div class="match-container" *ngFor="let match of round.matches">
      <div class="match-number" (click)="whoWon(match)">
        {{match.number}}
      </div>
      <div class="match-item status-{{match.status}}" (click)="handleClickMatch(match)">
        <div class="team-line {{ team.status }}" *ngFor="let team of match.teams">
          <span class="team-name">
            <div class="player-name" [class.highlight]="isMe(player)" *ngFor="let player of team.players" (click)="clickPlayer(player, $event)">
              {{ player }}
              <ion-icon class="ready" name="checkmark-circle" *ngIf="showReady(match, player)"></ion-icon>
              <ion-icon class="afk" color="danger" name="close-circle" *ngIf="showAfk(match, player)" tooltip="{{ player }} has been AFK, this match will not count"></ion-icon>
            </div>
          </span>
          <span class="team-score" *ngIf="match.status">{{team.score}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="actions" (click)="toggleHideCompleted()" *ngIf="showToggle">
  {{ toggleText }}
</div>