<ion-card class="game-summary" *ngIf="game?.replay">
  <div class="header space-between">
    <div class="date">
      {{ game.finished | date:'M/d/yyyy h:mm a'}}
    </div>
    <ion-button fill="clear" color="dark" (click)="generals.goToReplay(game.replayId, server)">
      <ion-icon name="eye"></ion-icon>
      Replay
    </ion-button>
  </div>
  <div class="players">
    <div class="player" [class.streak]="player.streak" *ngFor="let player of game.replay.scores">
      <div class="left">
        <div class="rank">#{{ player.rank }}</div>
        <ion-label>
          <h2 class="name" (click)="nameClicked.emit(player.name)">
            {{ player.name }}
            <span *ngIf="player.streak">🔥</span>
          </h2>
          <p>{{ player.kills }} {{ player.kills === 1 ? 'kill' : 'kills' }}</p>
        </ion-label>
      </div>
      <div class="points" [class.winner]="player.rank === 1">
        +{{ player.points }}
      </div>
    </div>
  </div>
  <div class="summary" *ngIf="expanded">
    <div class="line" *ngFor="let line of game.replay.summary">
      {{ line }}
    </div>
  </div>
  <div class="expand-collapse" (click)="toggleExpanded()">
    <ion-icon [name]="expanded ? 'chevron-up' : 'chevron-down'"></ion-icon>
  </div>
</ion-card>