<ion-card class="tournament-overview" (click)="navToTournament()">
  <ion-card-header>
    <ion-card-title class="space-between">
      <span>{{ tournament.name }}</span>
      <span class="player-count">
        <ion-icon name="people"></ion-icon>
        {{ tournament.playerCount }}
      </span>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{ tournament.startTime | date:'M/d/yyyy'}} at {{ tournament.startTime | date:'h:mm a'}}</p>
    <p>{{ tournament.type }} arena for {{ duration }}</p>
  </ion-card-content>
</ion-card>