<div class="button-container">
  <ng-container *ngIf="generals.name">
    <app-actions-popover [actions]="actions"></app-actions-popover>
    <ion-button
      class="generals-button color-secondary generals-name"
      (click)="goToProfile()"
    >
      {{ generals.name }}
    </ion-button>
  </ng-container>

  <ng-container *ngIf="!generals.name">
    <ion-button
      class="generals-button color-secondary"
      (click)="generals.login(eventId, false, server)"
    >
      Login
    </ion-button>
  </ng-container>
</div>

<!-- <div class="iframe-container">
  <iframe id="generals" [src]="generalsio | safe"></iframe>
</div> -->