<div class="event-summary">
  <ion-card *ngIf="event">
    <ion-card-header>
      <ion-card-title>Event Details</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-label>
        <h2>{{ event.startTime | date:'M/d/yyyy' }}</h2>
        <p>{{ event.startTime | date:'h:mm a' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-label>
        <h2>{{ event.type }} {{ event.format }}</h2>
        <p *ngIf="event.playersPerGame as players">
          {{ players }} {{ players === 1 ? 'player' : 'players' }} per game
        </p>
      </ion-label>
    </ion-item>
    <ng-container *ngIf="isArena">
      <ion-item>
        <ion-icon slot="start" name="stopwatch"></ion-icon>
        <ion-label>
          <h2>Time Limit</h2>
          <p>{{ duration }}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="showGames">
        <ion-icon slot="start" name="pulse"></ion-icon>
        <ion-label>
          <h2>{{ boldText }}</h2>
          <p *ngIf="extraText">{{ extraText }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ion-item *ngIf="event.server">
      <ion-icon slot="start" name="server"></ion-icon>
      <ion-label>
        <h2>Server override</h2>
        <p>Using <b>{{ event.server }}</b> server</p>
      </ion-label>
    </ion-item>
  </ion-card>
</div>