<table>
  <tr class="table-header">
    <th colspan="4">
      <div class="header-container">

        <!-- left side -->
        <div class="page-control">
          <div class="control-text">{{ pageControlText }}</div>
        </div>

        <!-- right side -->
        <ng-container *ngIf="players">
          <ion-button size="small" fill="clear" color="dark" (click)="join()" *ngIf="canJoin" [disabled]="recentlyJoined">
            <ion-icon name="play"></ion-icon>
            Register
          </ion-button>
          <ion-button size="small" fill="clear" color="dark" (click)="leave()" *ngIf="canLeave" [disabled]="recentlyJoined">
            <ion-icon name="exit"></ion-icon>
            Withdraw
          </ion-button>
        </ng-container>

      </div>
    </th>
  </tr>
  <ng-container *ngFor="let player of players; let i = index; trackBy: trackByFn">
    <tr [class.even]="i % 2 === 0">
      <td class="marker"
        [class.you]="player.name === generals.name"
        [class.selected]="isSelected(player.name)">
      </td>
      <td class="rank">
        <span *ngIf="!player.dq">{{ player.rank }}</span>
        <ion-icon name="close" color="danger" tooltip="{{player.name}} has been disqualified" *ngIf="player.dq"></ion-icon>
      </td>
      <td (click)="playersClicked.emit(player.name)">
        <span class="name">{{ player.name }}</span>
        <span class="partner-status" *ngIf="showPartner(player)">
          + {{ player.partner }}
          <span *ngIf="player.teamName">({{ player.teamName }})</span>
        </span>
        <span class="qualified" *ngIf="showQualified">
          <ion-icon
            name="checkmark-circle"
            tooltip="Qualifies for this event!"
            *ngIf="isQualified(player); else notQualified">
          </ion-icon>
        </span>
      </td>
      <td class="points">
        <div class="stars" *ngIf="!canCheckIn || isCheckedIn(player.name)">
          <span class="event-wins" *ngIf="player.stats?.eventWins" tooltip="{{ player.name }} has won {{ player.stats?.eventWins === 1 ? 'once' : (player.stats?.eventWins + ' times') }}">
            <ion-icon name="trophy" *ngFor="let win of eventWins(player)"></ion-icon>
          </span>
          <ng-container *ngIf="!event?.tsp">
            <ion-icon name="star" color="warning"></ion-icon>
            <span class="star-count" *ngIf="player?.stats?.currentStars > -1; else spinner">
              {{ player.stats?.currentStars | number:'1.0-0' }}
            </span>
          </ng-container>
          <span class="tsp" *ngIf="event?.tsp && isQualified(player)" tooltip="Total Seed Points are a total of the seed points you earned each week this season">
            {{ player.stats?.totalSeedPoints || 0 }} TSP
          </span>
        </div>
        <ng-container *ngIf="canCheckIn && isQualified(player) && !isCheckedIn(player.name)">
          <ion-button size="small" class="generals-button" *ngIf="generals.name === player.name" (click)="checkIn()">
            Check In
          </ion-button>
          <ion-text class="checkin" color="warning" *ngIf="generals.name !== player.name">
            <ion-icon name="warning"></ion-icon>
            Not checked in
          </ion-text>
        </ng-container>
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="!players?.length">
    <td colspan="4">No players to show</td>
  </tr>
</table>

<ng-template #notQualified>
  <ion-icon name="close-circle" tooltip="Does not qualify for this event"></ion-icon>
</ng-template>

<ng-template #spinner>
  <ion-spinner></ion-spinner>
</ng-template>