.player-summary {
  ion-card-title {
    ion-icon {
      opacity: 0;
      top: 3px;
      position: relative;
      color: #949494;
    }
  }

  .player-name:hover {
    cursor: pointer;
    color: teal;

    ion-icon {
      opacity: 1;
    }
  }

  ion-icon[name="close"] {
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background: rgba(255, 255, 255, .05);
    }
  }

  .generals-button {
    margin: 0 auto 16px;
  }

  h2 {
    color: #fff;
  }

  .stats {
    margin-top: 20px;

    &:first-of-type {
      margin-top: initial;
    }

    b ion-icon {
      position: relative;
      top: 1.5px;
    }
  }

  .stat-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid #333;
    }
  }

  .games {
    margin-top: 5px;

    .game {
      &:last-of-type .divider {
        display: none;
      }

      .divider {
        border-bottom: 1px solid #333;
        position: relative;
        margin: 10px 0;

        .gap {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #1e1e1e;
          padding: 0 8px;

          &.overlap {
            color: red;
          }
        }
      }

      .left-side {
        display: flex;
        flex-wrap: wrap;

        .win {
          color: var(--ion-color-warning);
          font-weight: bold;
        }

        .points,
        .result {
          width: 25px;
          font-weight: bold;
          white-space: nowrap;
        }

        .points,
        .time {
          margin-right: 5px;
        }

        .summary {
          color: #fff;
        }

        .result {
          color: red;

          &.win {
            color: teal;
          }
        }
      }

      ion-button {
        margin: 0;
      }
    }
  }

  .disclaimer {
    padding-top: 8px;

    &:first-of-type {
      border-top: 1px solid #333;
    }
  }
}