<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="start-buttons" slot="start">
      <ion-button class="generals-button" href="https://discord.gg/QP63V5Y" target="_blank">
        <ion-icon slot="start" name="logo-discord"></ion-icon>
        Join our discord
      </ion-button>
    </ion-buttons>
    <ion-title>
      Events
    </ion-title>
    <ion-buttons slot="end">
      <app-login></app-login>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="create-event-button" (click)="createEvent()" *ngIf="canCreateEvent">
    <ion-icon name="add"></ion-icon>
  </div>
  <div class="home-container">
    <app-event-filter
      [tabs]="tabs"
      [selectedTab]="selectedTab"
      (tabChange)="setEvents($event)">
    </app-event-filter>

    <!-- in progress or upcoming events -->
    <ng-container *ngIf="unfinished">
      <h2 *ngIf="unfinished.length">Join an event:</h2>
      <app-event-overview
        *ngFor="let event of unfinished"
        [event]="event">
      </app-event-overview>
    </ng-container>

    <!-- finished games -->
    <ng-container *ngIf="finished">
      <h3 *ngIf="finished.length">Finished Events</h3>
      <app-event-list-item
        *ngFor="let event of finished"
        [event]="event">
      </app-event-list-item>
    </ng-container>
  </div>
</ion-content>
