<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
    <ion-buttons slot="end">
      <app-login></app-login>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="create-tournament-button" (click)="createTournament()" *ngIf="canCreateEvent">
    <ion-icon name="add"></ion-icon>
  </div>
  <div class="home-container">
    <!-- in progress or upcoming events -->
    <ng-container *ngIf="unfinishedTournaments$ | async as unfinished">
      <h2 *ngIf="unfinished.length">Join an event:</h2>
      <app-tournament-overview
        *ngFor="let tournament of unfinished"
        [tournament]="tournament">
      </app-tournament-overview>
    </ng-container>

    <!-- finished games -->
    <ng-container *ngIf="finishedTournaments$ | async as finished">
      <h3 *ngIf="finished.length">Finished Events</h3>
      <app-tournament-list-item
        *ngFor="let tournament of finished"
        [tournament]="tournament">
      </app-tournament-list-item>
    </ng-container>
  </div>
</ion-content>
