ion-content {
  position: relative;

  .create-event-button {
    position: absolute;
    top: 75px;
    right: 10px;
    border-radius: 30px;
    background: white;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px teal;
    color: teal;
    width: 60px;
    height: 60px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: #bbb;
      box-shadow: 3px 3px teal;
    }
  }

  .home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: auto;

    strong {
      font-size: 20px;
      line-height: 26px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      color: #8c8c8c;
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }
}

@media(max-width: 700px) {
  .start-buttons {
    display: none;
  }
}