<div class="winner {{place}}" *ngIf="player">
  <div class="trophy">
    <ion-icon name="trophy"></ion-icon>
    <div class="rank">{{ rank }}</div>
  </div>
  <div class="name">{{ player.name }}</div>
  <div class="stats" *ngIf="player.stats as stats">
    <div>
      <span>Games played</span>
      <b>{{ stats.totalGames }}</b>
    </div>
    <div>
      <span>Win rate</span>
      <b>{{ stats.winRate | percent:'1.0-1' }}</b>
    </div>
    <div>
      <span>Quickest Win</span>
      <b>{{ stats.quickestWin }} turns</b>
    </div>
    <div>
      <span>KDR</span>
      <b>{{ stats.killDeathRatio | number:'1.1-1' }}</b>
    </div>
  </div>
</div>