table {
  width: 100%;

  .table-header {
    background: teal;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      padding: 0 10px;

      .page-control {
        display: flex;
        align-items: center;

        ion-button {
          margin: 0;
          width: 40px;
        }

        .control-text {
          margin: 0 10px;
        }

        .tracking {
          background: #ffffff38 !important;
          border-radius: 4px;
        }
      }
    }
  }

  tr {
    background: #333;

    &:not(.table-header) {
      height: 42px;
    }

    &.even {
      background: #444;
    }

    td {
      padding: 8px 10px;
    }

    .marker {
      width: 8px;
      padding: 0;

      &.selected {
        background: teal;
      }
      &.you {
        background: purple;
      }
    }

    .rank {
      width: 20px;

      ion-icon[name="close"] {
        font-size: 24px;
        position: relative;
        top: 3px;
        left: -3px;
      }
    }

    .name:hover {
      cursor: pointer;
      color: teal;
    }

    .record .record-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;

      .game {
        display: inline-block;
        background-color: rgba(0, 0, 0, .3);
        text-align: center;
        width: 22px;
        margin: 2px 3px 2px 0;
        border-radius: 4px;
        border: 1px solid transparent;
        white-space: nowrap;
        cursor: pointer;

        &.winner {
          color: var(--ion-color-warning);
          font-weight: bold;
        }

        &.streak {
          color:#ff6e3f;
        }
      }
    }

    .points {
      width: 15%;
      text-align: right;
      font-weight: bold;
      font-size: 16px;
      padding-right: 16px;
      white-space: nowrap;

      .stars {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .event-wins {
          display: flex;
          align-items: center;
          margin-right: 16px;
          color: gold;
          width: auto;

          ion-icon {
            margin-left: 1px;
          }
        }

        span,
        ion-spinner {
          width: 18px;
          margin-left: 5px;
          text-align: center;
        }
      }
    }

    &.small-devices {
      display: none;
    }
  }
}

// let bigger screens show the full name on one line
@media(min-width: 1700px) {
  table tr .name {
    white-space: nowrap;
  }
}

@media(max-width: 500px) {
  table {
    tr:not(.small-devices) .record .record-container {
      display: none;
    }
    tr.small-devices {
      display: table-row;
    }
  }
}