<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ tournament?.name }}</ion-title>
    <ion-buttons slot="end">
      <app-login [tournamentId]="tournamentId"></app-login>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container" *ngIf="tournament; else loading">
    <div class="left-panel">
      <div class="panel-container">
        <app-tournament-summary
          [tournament]="tournament">
        </app-tournament-summary>
        <app-tournament-player-summary
          *ngIf="selectedPlayer">
        </app-tournament-player-summary>
        <app-chat
          [tournament]="tournament">
        </app-chat>
      </div>
    </div>

    <div class="main-panel">
      <ng-container *ngIf="players$ | async as players">
        <app-tournament-trophies
          [server]="tournament.server"
          [players]="players"
          [status]="status">
        </app-tournament-trophies>
        <app-tournament-leaderboard
          [tournament]="tournament"
          [players]="players"
          [status]="status">
        </app-tournament-leaderboard>
        <app-rules
          [tournament]="tournament"
          [status]="status">
        </app-rules>
      </ng-container>
    </div>

    <div class="right-panel">
      <div class="panel-container">
        <app-game-list [tournament]="tournament"></app-game-list>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>