<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ tournament?.name }}</ion-title>
    <ion-buttons slot="end" *ngIf="generals.name">
      <app-actions-popover [actions]="actions"></app-actions-popover>
      <ion-button
        class="generals-button color-secondary"
        (click)="generals.goToProfile(generals.name, tournament?.server)"
      >
        {{ generals.name }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container" *ngIf="tournament; else loading">
    <div class="left-panel">
      <app-tournament-player-summary
        *ngIf="selectedPlayer">
      </app-tournament-player-summary>
    </div>

    <div class="main-panel">
      <!-- <app-tournament-trophies *ngIf="finished"></app-tournament-trophies> -->
      <app-tournament-leaderboard [tournament]="tournament"></app-tournament-leaderboard>
      <app-rules [tournament]="tournament"></app-rules>
    </div>

    <div class="right-panel">
      <app-game-list [tournament]="tournament"></app-game-list>
    </div>
  </div>
</ion-content>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>