<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ tournament?.name }}</ion-title>
    <ion-buttons slot="end">
      <app-login
        [tournamentId]="tournamentId"
        [status]="status">
      </app-login>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container" *ngIf="tournament; else loading">
    <ng-container *ngIf="tournament.exists; else empty">
      <div class="left-panel">
        <div class="panel-container">
          <app-tournament-summary
            [tournament]="tournament">
          </app-tournament-summary>
          <app-chat
            [tournament]="tournament"
            (nameClicked)="selectPlayer($event)">
          </app-chat>
        </div>
      </div>

      <div class="main-panel">
        <ng-container *ngIf="players$ | async as players">
          <app-tournament-trophies
            [server]="tournament.server"
            [players]="players"
            [status]="status"
            (playerClicked)="selectPlayer($event)">
          </app-tournament-trophies>
          <app-tournament-leaderboard
            [tournament]="tournament"
            [players]="players"
            [status]="status"
            [selectedPlayer]="selectedPlayer"
            (playerClicked)="selectPlayer($event)">
          </app-tournament-leaderboard>
          <app-rules
            [tournament]="tournament"
            [status]="status">
          </app-rules>
        </ng-container>
      </div>

      <div class="right-panel">
        <div class="panel-container">
          <app-tournament-player-summary
            [player]="selectedPlayer"
            [tournament]="tournament"
            [status]="status"
            (close)="selectPlayer()"
            *ngIf="selectedPlayer">
          </app-tournament-player-summary>
          <app-game-list
            [class.hidden]="selectedPlayer"
            [tournament]="tournament"
            (nameClicked)="selectPlayer($event)">
          </app-game-list>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>

<ng-template #empty>
  <div class="empty-container">
    <h1>This tournament doesn't seem to exist 🤔</h1>
  </div>
</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>