.event-queue {
  min-height: 64px;
  margin: 10px 0 20px;
  background: #333;
  padding: 0 12px 0 18px;
  border: 4px solid #333;

  &.joined {
    border-color: purple;
  }

  &.dq {
    border-color: red;
  }

  .message {
    padding: 6px 0;
  }

  .generals-button {
    width: 150px;
  }

  .starting-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-width: 100px;

    b {
      color: #7f7f7f;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}