<div class="partners-container" *ngIf="showPartners">

  <!-- confirmed teams -->
  <h3>{{ confirmedTeamsHeader }} </h3>
  <div class="team" *ngFor="let team of confirmedTeams; let i = index; trackBy: trackByFn">
    <div>
      <div class="name">{{ team.name }}</div>
      <div class="placeholder" *ngIf="team.placeholder">{{ team.placeholder }}</div>
    </div>
    <div *ngIf="onTeam(team)">
      <ion-button class="generals-button" (click)="setTeamName(team)">Set team name</ion-button>
      <ion-button class="generals-button color-secondary" (click)="leaveTeam()">Leave Team</ion-button>
    </div>
  </div>
  <p *ngIf="confirmedTeams.length === 0">
    No confirmed teams just yet
  </p>

  <!-- only show the choosing partner logic if this player is taking requests -->
  <ng-container *ngIf="takingRequests; else remainingPlayers">
    <!-- available partners to choose from -->
    <h3>Available Partners (click to choose):</h3>
    <div class="available-partners">
      <ion-button *ngFor="let player of availablePartners; let i = index; trackBy: trackByFn" (click)="choosePartner(player)">
        {{ player.name }}
      </ion-button>

      <p *ngIf="availablePartners.length === 0">
        No partners to choose from
      </p>
    </div>

    <!-- available partners to choose from -->
    <ng-container *ngIf="partnerRequests.length > 0">
      <h3>Partner Requests:</h3>
      <div class="partner-request" *ngFor="let player of partnerRequests; let i = index; trackBy: trackByFn">
        <span>Play with <b>{{ player.name }}</b>?</span>
        <ion-button (click)="acceptPartner(player)">Accept</ion-button>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #remainingPlayers>
    <ng-container *ngIf="availablePartners.length > 0; else allSet">
      <h5 *ngIf="availablePartners.length === 1">
        {{ availablePartners[0].name }} is checked in but doesn't have a partner...
      </h5>
      <h5 *ngIf="availablePartners.length > 1">
        {{ availablePartners.length }} {{ availablePartners.length === 1 ? 'player' : 'players' }} looking for a partner...
      </h5>
    </ng-container>
    <ng-template #allSet>
      <h4>All players have partners set!</h4>
    </ng-template>
  </ng-template>
</div>