<ion-header>
  <ion-toolbar>
    <ion-title>New Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="create-event">
    <!-- name of event -->
    <label>Name</label>
    <input
      [(ngModel)]="name"
      type="text"
      placeholder="{{namePlaceholder}}"
    >

    <!-- event type, dictates event formats -->
    <label>Type</label>
    <select [(ngModel)]="type" (change)="typeChanged($event)" name="type">
      <option [value]="option" *ngFor="let option of types">{{option}}</option>
    </select>

    <!-- show event formats for all types other than multi stage events -->
    <ng-container *ngIf="format !== EventFormat.MULTI_STAGE_EVENT">
      <label>Format</label>
      <select [(ngModel)]="format" name="format">
        <option [value]="option" *ngFor="let option of formats">{{option}}</option>
      </select>
    </ng-container>

    <ng-container *ngIf="showPairingStrategies">
      <label>Pairing Strategy</label>
      <select [(ngModel)]="pairingStrategy" name="pairingStrategy">
        <option [value]="option" *ngFor="let option of pairingStrategies">{{option}}</option>
      </select>
    </ng-container>

    <!-- event visibility on the home page -->
    <label>Visibility</label>
    <select [(ngModel)]="visibility" name="visibility">
      <option [value]="option" *ngFor="let option of visibilities">{{option}}</option>
    </select>

    <!-- ask for parent event id when adding an event to a multi-stage event -->
    <ng-container *ngIf="visibility === Visibility.MULTI_STAGE_EVENT">
      <label>Parent Event Id</label>
      <input
        [(ngModel)]="parentId"
        type="text"
        placeholder="required"
      >
    </ng-container>

    <!-- date the event starts -->
    <label>Date</label>
    <input
      [ngModel]="date"
      (ngModelChange)="date = $event"
      class="date-input"
      type="date"
      placeholder="yyyy-mm-dd"
    >

    <!-- time the event starts -->
    <label>Start Time</label>
    <input
      [(ngModel)]="time"
      type="time"
      placeholder="hh:mm"
    >

    <!-- the duration for an arena event -->
    <ng-container *ngIf="format === EventFormat.ARENA">
      <label>Duration</label>
      <input
        [(ngModel)]="duration"
        type="tel"
        placeholder="# minutes"
      >
    </ng-container>

    <!-- the check in time for the event, if it's an event in which you check in -->
    <ng-container *ngIf="format === EventFormat.DOUBLE_ELIM || format === EventFormat.DYNAMIC_DYP">
      <label>Check-in Time</label>
      <select [(ngModel)]="checkIn" name="type">
        <option [value]="option" *ngFor="let option of checkInOptions">{{option}}</option>
      </select>
    </ng-container>

    <!-- the number of games you need to win per round for different parts of the bracket -->
    <ng-container *ngIf="format === EventFormat.DOUBLE_ELIM">
      <h2>Winning Sets</h2>

      <!-- used in the winners bracket, except semis and finals -->
      <label>Winners Bracket</label>
      <select [(ngModel)]="winningSets.winners" name="type">
        <option [value]="option" *ngFor="let option of setsOptions">{{option}}</option>
      </select>

      <!-- used in the losers bracket, except the semis -->
      <label>Losers Bracket</label>
      <select [(ngModel)]="winningSets.losers" name="type">
        <option [value]="option" *ngFor="let option of setsOptions">{{option}}</option>
      </select>

      <!-- used for semifinals matches -->
      <label>Semifinals</label>
      <select [(ngModel)]="winningSets.semifinals" name="type">
        <option [value]="option" *ngFor="let option of setsOptions">{{option}}</option>
      </select>

      <!-- used for the finals -->
      <label>Finals</label>
      <select [(ngModel)]="winningSets.finals" name="type">
        <option [value]="option" *ngFor="let option of setsOptions">{{option}}</option>
      </select>
    </ng-container>

    <!-- custom options for the event lobby -->
    <ng-container *ngIf="format !== EventFormat.MULTI_STAGE_EVENT">
      <h2>Custom lobby options</h2>

      <!-- speed at which to play the game at -->
      <label>Speed</label>
      <select [(ngModel)]="speed" name="speed">
        <option [value]="option" *ngFor="let option of speeds">{{option}}</option>
      </select>

      <!-- map each game will be played on -->
      <label>Map URL</label>
      <input
        [(ngModel)]="mapURL"
        placeholder="optional"
      >

      <!-- don't render these options if a map is set -->
      <ng-container *ngIf="!mapURL">
        <!-- width of the map -->
        <label>Width: {{ width | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="width">
            <ion-label slot="start">small</ion-label>
            <ion-label slot="end">large</ion-label>
          </ion-range>
        </ion-item>

        <!-- height of the map -->
        <label>Height: {{ height | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="height">
            <ion-label slot="start">small</ion-label>
            <ion-label slot="end">large</ion-label>
          </ion-range>
        </ion-item>

        <!-- city density of the map -->
        <label>City Density: {{ cities | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="cities">
            <ion-label slot="start">low</ion-label>
            <ion-label slot="end">high</ion-label>
          </ion-range>
        </ion-item>

        <!-- mountain density of the map -->
        <label>Mountain Density: {{ mountains | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="mountains">
            <ion-label slot="start">low</ion-label>
            <ion-label slot="end">high</ion-label>
          </ion-range>
        </ion-item>

        <!-- swamp ratio of the map -->
        <label>Swamp Ratio: {{ swamps | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="swamps">
            <ion-label slot="start">low</ion-label>
            <ion-label slot="end">high</ion-label>
          </ion-range>
        </ion-item>

        <!-- desert density of the map -->
        <label>Desert Ratio: {{ deserts | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="deserts">
            <ion-label slot="start">low</ion-label>
            <ion-label slot="end">high</ion-label>
          </ion-range>
        </ion-item>

        <!-- lookout ratio of the map -->
        <label>Lookout Ratio: {{ lookouts | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="lookouts">
            <ion-label slot="start">low</ion-label>
            <ion-label slot="end">high</ion-label>
          </ion-range>
        </ion-item>

        <!-- observatory ratio of the map -->
        <label>Observatory Ratio: {{ observatories | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="observatories">
            <ion-label slot="start">low</ion-label>
            <ion-label slot="end">high</ion-label>
          </ion-range>
        </ion-item>

        <!-- City Fairness of the map -->
        <label>City Fairness: {{ city_fairness | number:'1.1-2' }}</label>
        <ion-item>
          <ion-range min="0" max="1" step=".01" [(ngModel)]="city_fairness">
            <ion-label slot="start">low</ion-label>
            <ion-label slot="end">high</ion-label>
          </ion-range>
        </ion-item>

        <!-- modifiers of the map -->
        <label>Modifiers:</label>
        <ion-item>
          <ion-select label="Modifiers" label-placement="fixed" placeholder="None" [multiple]="true" [(ngModel)]="modifiers">
            <ion-select-option value="0">Leapfrog</ion-select-option>
            <ion-select-option value="1">City State</ion-select-option>
            <ion-select-option value="2">Misty Veil</ion-select-option>
            <ion-select-option value="3">Crystal Clear</ion-select-option>
            <ion-select-option value="4">Silent War</ion-select-option>
            <ion-select-option value="5">Defenseless</ion-select-option>
            <ion-select-option value="6">Watchtower</ion-select-option>
            <ion-select-option value="7">Torus</ion-select-option>
            <ion-select-option value="8">Creeping Fog</ion-select-option>
          </ion-select>
        </ion-item>
      </ng-container>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="generals-button color-secondary" (click)="create()" [disabled]="invalid">
      {{ saving ? 'Creating...' : 'Create Event' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>