ion-content {
  --background: var(--ion-color-light);

  .create-event {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    select {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 5px 8px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
      color: #000;
      margin-bottom: 10px;
    }

    select {
      cursor: pointer;
    }

    input,
    select,
    label,
    ion-button,
    ion-item {
      width: 100%;
      max-width: 250px;
    }

    ion-item {
      --background: transparent;
      --inner-padding-end: 0;
      --padding-start: 0;

      ion-range {
        padding: 0;
      }
    }
  }
}

ion-footer .generals-button {
  width: 220px;
}