<div class="bracket-container {{bracketName}}" *ngIf="rounds">
  <ul class="round round-{{r + 1}}" *ngFor="let round of rounds; index as r" [ngClass]="{'length-1': round.matches.length === 1}" [class.hide]="shouldHide(r)">
    <h3>
      <div class="round-name">{{ round.name }}</div>
      <div class="best-of">{{ getBestOf(round.winningSets) }}</div>
    </h3>
    <li class="match-container" *ngFor="let match of round.matches; index as m" [class.no-right-border]="match.noRightBorder" [class.no-left-border]="shouldHide(r - 1)">
      <span class="match-number" (click)="handleClickMatchNumber(match, r, m)">{{ match.number }}</span>
      <div class="match-item status-{{match.status}}" [class.disabled]="disabled" [class.final]="match.final" (click)="handleClickMatch(match)">
        <div class="team-line {{ team.status }}" *ngFor="let team of match.teams">
          <span class="team-name" (click)="clickTeam(team, $event)" *ngIf="team.name">
            {{ team.name }} {{ team.dq ? '(DQ)' : '' }}
          </span>
          <i class="placeholder" *ngIf="team.placeholder">
            {{ team.placeholder }}
          </i>
          <span class="team-score" *ngIf="match.status && !match.bye">{{team.score}}</span>
        </div>
      </div>
      <span class="info-text" *ngIf="match.final && round.matches.length === 1 && !event.winners?.length">
        Note: since this is a double elimination bracket, {{ match.teams[1].name || 'the winner of the loser\'s bracket' }} would have to win two matches against {{ match.teams[0].name || 'the winner of the winner\'s bracket' }} to win the tournament
      </span>
    </li>
  </ul>
</div>