.tournament-container {
  .tournament-brackets {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 15px;
  }

  .bracket {
    padding-left: 0;
    display: flex;
    margin: 60px 0 0 0;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    flex: 1;
    position: relative;

    h3 {
      flex: 1;
      text-align:center;
      font-weight: 400;
      margin: 10px;
      font-size: 18px;
      position: absolute;
      top: -40px;
      left: 0;
      width: 100%;
    }
  }

  .match-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: .5rem 10px;
    position: relative;
    min-width: 220px;

    .match-number {
      width: 24px;
      color: teal;
      font-weight: bold;
      text-align: center;
      margin-right: 2px;
    }

    .match-item {
      margin-top: 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      line-height: 2;
      background: #333333;
      border: 3px solid transparent;

      // if the final match is in progress or ready, make it gold
      &.status-READY,
      &.status-COMPLETE {
        &.final {
          border: 5px solid gold !important;
        }
      }

      &.status-READY {
        color: #fff;
        border: 3px solid teal;
        cursor: pointer;
      }
    }

    .team-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #444444;
      height: 32px;
      line-height: 16px;
      background: #333;
      margin-right: 30px;

      .team-name {
        text-align: left;
        padding: 2px 8px;

        span:last-of-type {
          margin-left: 5px;

          &:before {
            content: '&';
            margin-right: 5px
          }
        }
      }

      .placeholder {
        color: #7f7f7f;
        padding-left: 8px;
        white-space: nowrap;
      }

      .team-score {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #777;
        text-align: center;
        min-width: 30px;
        height: 100%;
        margin-right: -30px;
      }

      &.WINNER {
        font-weight: bold;
      }

      &.LOSER {
        opacity: 0.5;
      }

      &.ELIMINATED .team-name {
        text-decoration: line-through;
      }

      &:last-of-type {
        border-bottom: none;

        .team-score {
          border-top: 1px solid #444;
        }
      }
    }
  }

  .match-container:after {
    content:'';
    border-color: #8c8c8c;
    border-width: 1px;
    position: absolute;
    display: block;
    width: 10px;
    right: -11px;
  }

  .match-container:nth-of-type(odd):after {
    border-right-style: solid;
    border-top-style: solid;
    height: 75%;
    top: 50%;
  }

  .match-container:nth-of-type(even):after {
    border-right-style: solid;
    border-bottom-style: solid;
    height: 75%;
    bottom: calc(50% - 1px);
  }

  .match-container.no-right-border:after {
    border-right-style: none;
  }

  .match-container:before {
    content:'';
    border-top: 1px solid #8c8c8c;
    position: absolute;
    height: 2px;
    width: 10px;
    left: -10px;
    top: 50%;
  }

  .bracket:first-of-type {
    .match-container:before {
      display: none;
    }
  }

  .bracket.length-1{
    .match-container:after {
      display: none;
    }
  }

  .bracket:last-of-type {
    justify-content: center;

    .match-container {
      flex-grow: initial;
      margin: 45px 10px;
    }

    .match-container:before,
    .match-container:after {
      display: none;
    }
  }
}
